* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 15, 76);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: rgb(219, 202, 255);
}

#temperature {
    color: orangered;
    font-size: 72px;
}

button {
    background-color: rgb(104, 77, 163);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}

#place {
    max-width: 480px;
    background-color: white;
    padding-bottom: 1rem;
    overflow: hidden;
    border-radius: 1rem;
}

#place img {
    width: 100%;
    aspect-ratio: 4/3;
}

#place div {
    padding: 0.5rem;

}

section {
    padding: 4rem 0;
}

p {
    text-align: center;
    color: gray;
}